<nav class="navbar">
    <ul>
     
      <li><a routerLink="articles" routerLinkActive="active">Articles</a></li>
      <li><a routerLink="pieces" routerLinkActive="active">Pièces</a></li>
      <li><a routerLink="reclamations" routerLinkActive="active">Réclamations</a></li>
      <li><a routerLink="interventions" routerLinkActive="active">Interventions</a></li>
      <li><a routerLink="clients" routerLinkActive="active">Clients </a></li>
    </ul>
  </nav>
  
  <div class="content">
    <router-outlet></router-outlet>