html, body {
    height: 100%;
    margin: 0;
  }
  
  .container-fluid {
    height: 100vh;
  }
  
  .sidebar {
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 1rem;
  }
  
  .content {
    margin-top: 1rem;
  }
  