<div class="sidebar bg-dark text-white p-3">
    <h4 class="text-center mb-4">Menu</h4>
    <ul class="nav flex-column">
      <li class="nav-item">
        <button class="nav-link text-white" (click)="goToArticleClient(clientId)">
          <i class="fa fa-cogs"></i> Voir mes produits achetés
        </button>
      </li>
      <li class="nav-item">
        <button class="nav-link text-white" (click)="goToHomeReclamation(clientId)">
          <i class="fa fa-exclamation-triangle"></i> Voir mes réclamations
        </button>
      </li>
    </ul>
  </div>
  